.checkbox[type='checkbox'] {
    left: 1.2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.fieldset{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;}

.favorite
.theme,{
    align-items: center;
    background-color: hsl(var(--color-primary) 0.06);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    z-index: 0;

    &:hover {
        background-color: hsl(var(--color-primary) 0.12);
    }}


.favorite{
    grid-column: span 2;
    padding-left: 2.4em;
    padding-right: 2.4em;
}


.theme{
    &::after {
        background-color: hsl(var(--color-primary) 0.06);
        border-radius: 0 0 0.8em 0.8em;
        content: '';
        height: 0.8em;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 1.6em;
        z-index: 1;
    }

    &:hover::after {
        background-color: hsl(var(--color-primary) 0.12);
    }}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;}

.radio[type='radio'] {
    left: 50%;
    position: absolute;
    top: calc(100%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logout{
    margin-top: auto;}


.title{
    grid-column: 1 / -1;}