{
    "extends": [
        "react-app",
        "react-app/jest",
        "plugin:import/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["import"],
    "rules": {
        "react/jsx-no-target-blank": ["error", { "allowReferrer": true }],
        "testing-library/no-node-access": 0,
        "import/order": [
            "error",
            {
                "newlines-between": "always"
            }
        ],
        "import/no-named-as-default": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        }
    }
}
