.close {
  composes: close from '../shared/Modal.module.css';
}

.footer {
  font-size: 0.8em;
  grid-area: app-footer;
  opacity: 0.6;
  padding-bottom: 24px;
  position: relative;
  text-align: center;
}

.link {
  padding: 0;
  text-decoration: underline;
}

.link::after {
  display: none;
}

.modal {
  composes: modal from '../shared/Modal.module.css';
}

.modal h2,
.modal h3,
.modal p {
  margin-bottom: 1em;
}

.overlay {
  composes: overlay from '../shared/Modal.module.css';
}

.title {
  composes: title from '../shared/Modal.module.css';
}
