.header {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 1;
}

.header::after {
  background-color: var(--color-primary);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.06;
  position: absolute;
  top: 0;
  width: 100%;
}

.header::before {
  border-right: 1px solid var(--color-primary);
  content: '';
  height: 100%;
  opacity: 0.06;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.logo {
  background-color: var(--color-secondary);
  display: inline-block;
  border-radius: 50% 50% 12% 50% / 50% 50% 12% 50%;
  height: 1.5em;
  width: 1.5em;
}

.title {
  align-items: center;
  display: flex;
  font-size: 1em;
  font-weight: 300;
  height: 50px;
  justify-content: center;
  position: relative;
  text-transform: none;
  width: 50px;
  z-index: 3;
}

.title::after {
  background-color: var(--color-primary);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.title .tooltip {
  background-color: var(--color-primary);
  border-radius: 6px;
  color: var(--color-secondary);
  font-weight: 500;
  left: calc(100% + 6px);
  opacity: 0;
  padding: 3px 6px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

.title:hover .tooltip {
  opacity: 1;
}

.title .tooltip::after {
  border-color: transparent var(--color-primary) transparent transparent;
  border-style: solid;
  border-width: 4px 6px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-99%, -50%);
  width: 0;
  z-index: -1;
}
