.close {
  composes: close from '../shared/Modal.module.css';
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logout {
  margin-top: auto;
}

.modal {
  composes: modal from '../shared/Modal.module.css';
}

.overlay {
  composes: overlay from '../shared/Modal.module.css';
}

.title {
  composes: title from '../shared/Modal.module.css';
}
