.bookmark {
  background-color: var(--theme-base);
  list-style: none;
}

.icon {
  border-radius: 50%;
  display: flex;
  flex: 0 0 auto;
  height: calc(100% - 12px);
  margin-right: 8px;
  padding: 6px;
  position: relative;
  width: auto;
  z-index: 0;
}

.icon::after,
.link::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.icon::after {
  background-color: var(--color-alt);
  border-radius: 50%;
  opacity: 1;
}

.img {
  height: 100%;
  min-height: 16px;
  min-width: 16px;
  width: auto;
}

.link {
  align-items: center;
  color: var(--theme-text);
  display: flex;
  margin: 4px;
  padding: 4px 12px 4px 4px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.link::after {
  background-color: var(--color-main);
  opacity: 0.12;
}

.link:hover::after {
  opacity: 0.24;
}

.text {
  flex: 1;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
