.bookmark {
  list-style: none;
}

.icon {
  border-radius: 50%;
  display: flex;
  flex: 0 0 auto;
  height: calc(100% - 12px);
  margin-right: 6px;
  padding: 4px 6px;
  position: relative;
  width: auto;
  z-index: 0;
}

.img {
  filter: drop-shadow(1px 0 0 var(--bookmark-dark))
    drop-shadow(-1px 0 0 var(--bookmark-dark))
    drop-shadow(0 1px 0 var(--bookmark-dark))
    drop-shadow(0 -1px 0 var(--bookmark-dark));
  height: 16px;
  width: 16px;
}

.link {
  align-items: center;
  color: var(--bookmark-light);
  display: flex;
  padding: 4px 12px 4px 4px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.link::after {
  background-color: var(--bookmark-dark);
  border-radius: 9px / 50% 50%;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.18;
  position: absolute;
  top: 0;
  transition: opacity var(--animation-time) var(--animation-ease);
  width: 100%;
  z-index: -1;
}

.link:hover::after {
  opacity: 0.72;
}

.text {
  flex: 1;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
