.bookmarks {
  display: grid;
  grid-area: list;
  grid-gap: 6px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-self: stretch;
  list-style: none;
  margin-top: 12px;
  position: relative;
  z-index: -1;
}

.category {
  align-items: center;
  display: grid;
  grid-template:
    'title open' auto
    'list list' auto
    / auto 1fr;
  justify-items: start;
  padding: 24px 36px;
  position: relative;
  z-index: 0;
}

.open {
  font-style: italic;
  font-weight: 700;
  grid-area: open;
}

.move {
  align-items: center;
  cursor: grab;
  display: flex;
  height: 36px;
  justify-content: center;
  left: 0px;
  padding: 5px;
  position: absolute;
  top: 10px;
  width: 36px;
}

.move:active {
  cursor: grabbing;
}

.title {
  font-weight: 500;
  grid-area: title;
}
