.dropzones {
  display: grid;
  grid-gap: 24px;
  grid-template: minmax(80px, 20vh) / 1fr 1fr;
  list-style: none;
  padding: 24px 36px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropzones::after,
.dropzone::after {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.dropzones::after {
  background-color: var(--color-secondary);
  mask-image: linear-gradient(to bottom, #000, transparent);
}

.dropzone {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  position: relative;
  z-index: 0;
}

.dropzone::after {
  border: 3px dashed var(--color-primary);
  border-radius: 24px;
  opacity: 0.08;
}

.label {
  font-size: 8vmin;
  font-weight: 700;
  line-height: 1;
  opacity: 0.12;
  pointer-events: none;
  text-transform: uppercase;
}

.over::after {
  opacity: 0.24;
}

.over .label {
  opacity: 0.36;
}
