.zones {
    display: none;
    grid-gap: 24px;
    grid-template: 0 / 1fr 1fr;
    list-style: none;
    margin: 0 36px;
    position: sticky;
    top: 24px;
    z-index: 1;

    &.droppable { display: grid; }
}

.zone {
    align-items: center;
    border: 1px dashed;
    display: flex;
    height: 20vh;
    justify-content: center;
    min-height: 80px;
    padding: 20px 40px;
}