.container {
    display: grid;
    grid-template:
        'app-main' 1fr
        'app-footer' auto
        / 1fr;
    min-height: 100%;
    padding-left: 50px;
}

.main {
    grid-area: app-main;
    padding-bottom: 20px;
}
