*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-base: #fff;
  --theme-text: #000;
  --bg-color: var(--theme-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-base: #000;
    --theme-text: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-base: #fff;
    --theme-text: #000;
  }
}

[data-theme='dark'] {
  --theme-base: #000;
  --theme-text: #fff;
}

[data-theme='light'] {
  --theme-base: #fff;
  --theme-text: #000;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--theme-base);
  color: var(--theme-text);
  font: 400 1.5rem/1.3333 sans-serif;
}

button {
  appearance: none;
  background-color: transparent;
  color: var(--theme-text);
  border: none;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
}

button::after {
  background-color: var(--theme-text);
  border-radius: 10px;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.08;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

button:hover::after {
  opacity: 0.12;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content 1fr;
  padding: 20px;
}

label {
  grid-column: 1;
}

label + label {
  grid-column: 2;
}

form *:not(label) {
  grid-column: 2;
}
