*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.8rem;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(var(--theme-text), 0.8);
  border-radius: 0.4rem;
}

:root {
  --animation-ease: cubic-bezier(0.4, 0, 0.6, 1);
  --animation-time: 200ms;
  --theme-base: #fff;
  --theme-text: #000;
  --color-main: var(--theme-text);

  scrollbar-color: hsla(var(--theme-text), 0.8) transparent;
  scrollbar-width: thin;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-base: hsl(263, 50%, 14%);
    --theme-text: hsl(55, 100%, 95%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-base: #fff;
    --theme-text: #000;
  }
}

[data-theme='dark'] {
  --theme-base: #000;
  --theme-text: #fff;
}

[data-theme='light'] {
  --theme-base: #fff;
  --theme-text: #000;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--theme-base);
  color: var(--theme-text);
  font: 300 1.5rem/1.3333 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility;
}

button,
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

button {
  appearance: none;
  background-color: transparent;
  color: var(--theme-text);
  border: none;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
}

button::after {
  background-color: var(--theme-text);
  border-radius: 10px;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.08;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

button:hover::after {
  opacity: 0.12;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content 1fr;
  padding: 24px;
}

label {
  grid-column: 1;
}

label + label {
  grid-column: 2;
}

form *:not(label) {
  grid-column: 2;
}

svg {
  display: inline-block;
  fill: var(--theme-text);
  height: 1em;
  width: 1em;
}
