*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.8rem;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(var(--color-primary), 0.8);
  border-radius: 0.4rem;
}

:root {
  --animation-ease: cubic-bezier(0.4, 0, 0.6, 1);
  --animation-time: 180ms;

  --color-dark: hsl(240, 36%, 12%);
  --color-light: hsl(64, 47%, 94%);

  --color-primary: var(--color-light);
  --color-secondary: var(--color-dark);

  scrollbar-color: hsla(var(--color-primary), 0.8) transparent;
  scrollbar-width: thin;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-secondary: var(--color-dark);
    --color-primary: var(--color-light);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-secondary: var(--color-light);
    --color-primary: var(--color-dark);
  }
}

[data-theme='dark'] {
  --color-secondary: var(--color-dark);
  --color-primary: var(--color-light);
}

[data-theme='light'] {
  --color-secondary: var(--color-light);
  --color-primary: var(--color-dark);
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font: 400 1.5rem/1.3333 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

button,
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
}

button {
  appearance: none;
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  padding: 5px 10px;
  position: relative;
  z-index: 0;
}

button::after {
  background-color: var(--color-primary);
  border-radius: 10px;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.08;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

button:hover::after {
  opacity: 0.12;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: max-content 1fr;
  padding: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1em;
  text-transform: uppercase;
}

label {
  grid-column: 1;
}

label + label {
  grid-column: 2;
}

form *:not(label) {
  grid-column: 2;
}

svg {
  display: inline-block;
  fill: var(--color-primary);
  height: 1em;
  width: 1em;
}
